body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  margin-bottom: 10px;
  width: calc(33.33% - 10px);
  box-sizing: border-box;
  background-color: peachpuff; 
  text-align: center;
  padding: 50px 50px; 
  
}

#next{
  color: black;
}


.img-container {
    text-align: center;
    padding: 20px;
  }

 
 