 /*TABLE*/

 body {
    background-color:#f2f2f2;
 }


/* Style for the first table header */
.table_one th {
    background-color: rgb(78, 196, 236);
    color: white;
  }
  
  /* Style for the second table header */
  .table_two th {
    background-color: rgb(103, 239, 103);
    color: white;
  }
  
  /* Style for alternating rows in the tables */
  .table_one tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table_two tr:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  .table_one tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .table_two tr:nth-child(odd) {
    background-color: #e6ffe6;
  }
  
  /* General styles for tables */
  .table_one,
  .table_two {
    border-collapse: collapse;
    width: 100%;
  }

  
  .table_one th, 
  .table_one td {
    padding: 8px;
    width: 100%;
  }

  .table_two th,
  .table_two td {
    border-color: black;
    border-style:double;
    padding: 8px;
    width: 100%;
  }
  
  .table_one th, .table_two th {
    text-align: left;
  }
  